// 颜色定义规范
$color-background = #f4f4f4           //背景色
$color-theme = #595BB3                //主题颜色



//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

//高度定义规范
$header-title-height = 45px
$header-footer-height = 50px
$header-input-height = 44px

//宽度定义规范
$card-theme-margin = 10px  //卡片式布局间隙

